.inline {
display:inline;
}

p {
    font-family: 'Dancing Script', cursive;
}






#signrow {
        color: bisque;
    }


    .item-img{
        width: 300px;
        height: 300px;
        border-radius: 150px;
        margin:6px
    }
