.inline {
display:inline;
}

p {
    font-family: 'EB Garamond', serif;
    text: size adjust 8000px;
   margin-top: 30px;
   padding-left: 850px;
   
}

    h2{
     padding-left: 30px;
        }
        h3{
            padding-left: 30px;
                        background-color: yellow;
               }
#myCarousel{
    display:flex;
   width: 40%;
    min-height: 30;
}

body{
   
    background-image: url(wors.png);
    background-repeat: repeat;
}
